<div class="topic">
  <div class="topic__header">
    <h1>Post a New Topic</h1>
    <%= link_to 'Back to the Chatterbox', boards_path %>
  </div>
  <div class="topic__new">
    <%= render 'form' %>
  </div>
</div>
