<div class="board">
  <div class="topic__header">
    <h1>Post a New Topic</h1>
    <div class="topic__headerLinks">
      <%= link_to 'Back to the Chatterbox', boards_path %>
    </div>
  </div>
  <div class="topic__new">
    <%= render 'form' %>
  </div>
</div>
