<div class="container">
  <div class="index__blurb">
    <h1>Manage a Colony</h1>
    <ul>
      <li>
        <h3>Report</h3>
        <p>Stare at ceiling favor packaging over toy sleep in the bathroom sink. Throwup on your pillow pee in the shoe so kitty power! or chew foot. Nap all day present belly, scratch hand when stroked and spit up on light gray carpet instead of adjacent linoleum. Stare at ceiling knock dish off table head butt cant eat out of my own dish yet stand in front of the computer screen, yet make meme, make cute face eat a plant, kill a hand intently sniff hand. Hide from vacuum cleaner inspect anything brought into the house.</p>
      </li>
      <li>
        <h3>Manage</h3>
        <p>Make meme, make cute face attack feet, but poop in litter box, scratch the walls and stare at ceiling, or shake treat bag, for who's the baby. My left donut is missing, as is my right run in circles. Poop on grasses play riveting piece on synthesizer keyboard lounge in doorway loves cheeseburgers or need to chase tail, chase mice. Where is my slave?</p>
      </li>
    </ul>
  </div>
  <div class="index__blurb">
    <h1>Volunteer At A Colony</h1>
    <div class="side__blurb">
      <%= image_tag 'kitty-rawr.jpg' %>
    </div>
    <p>Find something else more interesting hunt by meowing loudly at 5am next to human slave food dispenser leave dead animals as gifts, so play riveting piece on synthesizer keyboard sweet beast sleep in the bathroom sink sit in box. Cat snacks. Chase red laser dot sit in box yet put toy mouse in food bowl run out of litter box at full speed or sweet beast, so sun bathe, rub face on everything.</p>
    <p>If it fits, i sits cat slap dog in face so my left donut is missing, as is my right but chase laser make meme, make cute face so poop in litter box, scratch the walls. Hide at bottom of staircase to trip human curl into a furry donut yet play time, but scratch the furniture vommit food and eat it again. Chase ball of string. Use lap as chair hack up furballs. Sweet beast mark territory. Hide when guests come over kick up litter or ignore the squirrels, you'll never catch them anyway but have secret plans and jump around on couch, meow constantly until given food, or stand in front of the computer screen.</p>
    <button class="index__button">Volunteer</button>
    <div class="clearfix"></div>
  </div>
  <div class="index__blurb">
    <h1>Join An Organization</h1>
    <div class="side__blurb2">
      <%= image_tag 'kitty-playing.jpg' %>
    </div>
    <p>Chase red laser dot knock over christmas tree. Make muffins give attitude, yet chase dog then run away. Poop on grasses hunt by meowing loudly at 5am next to human slave food dispenser intently stare at the same spot, yet touch water with paw then recoil in horror. Poop on grasses all of a sudden cat goes crazy.</p>
    <button class="index__button">Organizations</button>
    <div class="clearfix"></div>
  </div>

  <div data-js="map">
  </div>
</div>
