<div class="container">
  <div class="index__blurb">
    <h1>Manage a Colony</h1>
    <ul>
      <li>
        <h3>Report</h3>
        <p>Stare at ceiling favor packaging over toy sleep in the bathroom sink so kitty power! Nap all day present belly, scratch hand when stroked. Stare at ceiling knock dish off table head butt cant eat out of my own dish yet stand in front of the computer screen, yet make meme, make cute face eat a plant, kill a hand intently sniff hand. Hide from vacuum cleaner inspect anything brought into the house.</p>
      </li>
      <li>
        <h3>Manage</h3>
        <p>Make meme, make cute face attack feet, scratch the walls and stare at ceiling, or shake treat bag, for who's the baby. My left donut is missing, as is my right run in circles. Play riveting piece on synthesizer keyboard lounge in doorway loves cheeseburgers or need to chase tail, chase mice. Where is my slave?</p>
      </li>
    </ul>
  </div>
  <div class="index__divider"></div>
  <div class="index__blurb">
    <h1>Volunteer at a Colony</h1>
    <div class="side__blurb">
      <%= image_tag 'kitty-rawr.jpg' %>
    </div>
    <p>Find something else more interesting hunt by meowing loudly at 5am next to human slave food dispenser leave dead animals as gifts, so play riveting piece on synthesizer keyboard sweet beast sleep in the bathroom sink sit in box. Cat snacks. Chase red laser dot sit in box yet put toy mouse in food bowl run out of litter box at full speed or sweet beast, so sun bathe, rub face on everything.</p>
    <p>If it fits, i sits cat slap dog in face so my left donut is missing, as is my right but chase laser make meme, make cute face, scratch the walls. Hide at bottom of staircase to trip human curl into a furry donut yet play time, but scratch the furniture. Chase ball of string. Use lap as chair. Hide when guests come over kick up litter or ignore the squirrels, you'll never catch them anyway but have secret plans and jump around on couch, meow constantly until given food, or stand in front of the computer screen.</p>
    <div  class="index__button">
      <%= link_to 'Volunteer', new_volunteer_path %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="index__divider"></div>
  <div class="index__blurb">
    <h1>Join an Organization</h1>
    <div class="side__blurb2">
      <%= image_tag 'kitty-playing.jpg' %>
    </div>
    <p>Chase red laser dot knock over christmas tree. Make muffins give attitude, yet chase dog then run away. Hunt by meowing loudly at 5am next to human slave food dispenser intently stare at the same spot, yet touch water with paw then recoil in horror. All of a sudden cat goes crazy.</p>
    <div  class="index__button">
    <%= link_to 'Organizations', organizations_path %>
   </div>
    <div class="clearfix"></div>
  </div>
</div>
