<div class="colony">
  <div class="colony__header">
    <h1>Edit a colony</h1>
    <%= link_to 'View All Colonies', colonies_path %>
  </div>
  <div class="colony__edit">
    <%= render 'form' %>
  </div>

</div>
