<div class="board__guidelines">
  <div class="board__guidelinesTitle">
    Lost & Found Guidelines - READ ME BEFORE POSTING!
  </div>
  <input type="checkbox" id="guidelines_trigger" class="guidelines_trigger" />
  <label for="guidelines_trigger" class='guidelines__trigger1'></label>
  <div class="board__guidelinesContent">
    <p>
      Before posting a lost or found notice, please be considerate of our community guidelines. <br />
      In general, don't be a jerk to people or animals. (=^･^=)
    </p>
    <div class="board__guidelinesList">
      <h3>Lost a pet?</h3>
      <ul>
        <li>Check with local shelters and vet offices</li>
        <li>Make flyers with a photo and post all around your neighborhood</li>
        <li>Post online with social media and local shelter/rescue forums</li>
        <li>If posting to this forum or others, please remember to offer as much details as possible about your pet's appearance and any distinguishing features.</li>
        <li>Be prepared to offer proof of ownership, such as photos and vet records to anyone who believes they have found your pet.</li>
        <li>If someone tries to get money from you in exchange for the return of your pet, call the police. Do not pay them.</li>
      </ul>
    </div>
    <div class="board__guidelinesList">
      <h3>Found a pet?</h3>
      <ul>
        <li>First assess that the pet is not in need of medical assistance</li>
        <li>Take the pet to a local shelter or vet office to be checked for a microchip</li>
        <li>Make flyers with a photo and post all around the area where the pet was found</li>
        <li>Post online with social media and local shelter/rescue forums</li>
        <li>If posting online, offer a description, but withhold some unique identifier, such as the collar color or unique physical attribute, to help identify the real owner of the pet</li>
        <li>Always ask for proof of ownership in the form of vet records and/or photos.</li>
      </ul>
    </div>
    <label for="guidelines_trigger" class="guidelines__trigger2">[ collapse guidelines ]</label>
  </div>
</div>

<!-- .navigation -> .board__guidelinesContent -->
<!-- .nav-trigger -> .guidelines_trigger -->
<!-- .site-wrap -> .board__topics -->
