<div class="board">
  <div class="board__header">
    <h1>Update <%= @board.title %></h1>
    <%= link_to 'Back to the Chatterbox', boards_path %>
  </div>
  <div class="board__new">
    <%= render 'form' %>
  </div>
</div>
