<div class="board">
  <div class="board__header">
    <h1>Kitty Chatterbox</h1>
    <%= link_to 'New Board', new_board_path %>
    <%= link_to 'New Topic', new_topic_path %>
  </div>
  <div class="board__list">
      <% @boards.each do |board| %>
        <div class="board__title">
          <%= link_to board.title, board_path(board) %>
        </div>
        <div class="board__topicsList">
          list topics?
        </div>
      <% end %>
  </div>
</div>
