<div class="colony">

    <div class="colony_header">
      <h1>Colonies</h1>
      <%= link_to 'Add a Colony', new_colony_path %>
    </div>

    <div class="colonies_list">

      <% @colonies.each do |a| %>
        <div class="colony_wrapper">
          <div class="colony_photo">
            <%= a.photo %>
          </div>
          <div class="colony_name">
            <%= link_to a.name, colony_path(a) %>
          </div>
        </div>
      <% end %>

    </div>
</div>
