<div class="col">
  <div class="colony__header">
    <h1>Colonies</h1>
    <%= link_to "Create a Colony", new_colony_path %>
  </div>

  <div data-js="colony"></div>

  <div class="map__div" data-js="map"></div>

</div>
