<div class="colony">
  <div class="colony__header">
    <h1>Create a Colony</h1>
    <%= link_to 'Back to All Colonies', colonies_path %>
  </div>

  <div class="colony__new">
    <%= render 'form' %>
  </div>

</div>
