<div class="colony__pageWrapper">
  <div class="colony__profileWrapper">
    <div class="colony__nameHeader">
      <h3><%= @colony.name %></h3>
    </div>
    <div class="colony__navLinks">
      <%= link_to 'View All Colonies', colonies_path %>
      <%= link_to 'Edit This Colony', edit_colony_path(@colony) if policy(@colony).edit? %>
      <%= link_to 'Delete This Colony', @colony, method: :delete, data: {confirm: 'Are you sure?'} if policy(@colony).destroy? %>
    </div>

    <div data-js="colonyShow"></div>
  </div>
</div>
