html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  height: 100%;
}

.main__wrapper {
  min-height: 100%;
  position: relative;
  @include backgroundColor;
}
p {
  @include paragraph;
}
h1,
h2,
h3 {
  font-family: $header-font;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $blue-medium;
  }
}
.clearfix {
  clear: both;
  padding: 15px 0;
}
