// classes used in all board views
.board {
  padding: 10px 10px 80px;
}
.board__header {
  width: 90%;
  margin: 0 auto;
  vertical-align: baseline;
  > h1 {
    @include title(1.7rem);
    display: inline-block;
    width: 65%;
  }
}
.board__headerLinks {
  display: inline-block;
  text-align: right;
  width: 34%;
  > a {
    margin: 5px;
  }
}
.board__dividerLine {
  @include gradientLine;
}

// classes used in the boards index view (includes 'board', 'board__header', and 'board__topicsList' from above)
.board__index {
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  position: relative;
  width: 90%;
  @media all and (max-width:  $break-s) {
    bottom: 100px;
  }
}
.board__indexTile {
  display: inline-block;
  border-top: 3px solid $green-medium;
  @include size(31%, 250px);
  padding: 15px;
  margin: 1%;
  overflow: hidden;
  // background: rgba(254, 254, 254, 0.5);
  // &:hover {
  //   -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 1) inset;
  //    -moz-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 1) inset;
  //         box-shadow: 0 1px 4px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 1) inset;
  // }
}
.board__indexTitle {
  font-size: 1.5rem;
  padding-bottom: 15px;
  > a {
    text-decoration: none
  }
}
.board__indexTopicsRecent {
  padding-left: 10px;
}
.board__indexTopic {
  min-height: 50px;
}
.board__indexTopicTitle {
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  > a {}
}
.board__indexTopicUpdated {
  color: $grey-medium;
  font-size: 0.8rem;
  font-style: italic;
  > a {
    font-style: italic;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}


// classes used in the boards show view
.board__topics {
  width: 95%;
  @include centerText(left);
  margin-top: 10px;
}
.board__topic {
  height: 50px;
  padding: 5px 0;
}
.board__topicTitle {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.board__topicCreated,
.board__topicUpdated {
  vertical-align: top;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.board__topicCreated a,
.board__topicUpdated a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid;
  }
}
.board__topicCreated {
  width: 20%;
}
.board__topicUpdated {
  width: 30%;
}


// classes used in the boards new/edit views (includes 'board' and 'board__header' from above)
.board__new {
}

// classes used in the boards form partial (includes 'board', 'board__header', and 'board__topicsList' from above)
.board__formErrors {
  > ul {}
}
.board__form {

}
.board__formTitle {

}
.board__formSubmit {

}
