// classes used in all board views
.board {
  @include maxWidth;
}
.board__header {
  position: relative;
  margin-bottom: 40px;
  > h1 {
    @include title(2rem);
    display: inline-block;
    margin-bottom: 0;
  }
}
.board__headerLinks {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  > a {
  }
}
.board__dividerLine {
  @include gradientLine;
}

// classes used in the boards index view (includes 'board', 'board__header', and 'board__topicsList' from above)
.board__index {
  width: 101%;
  @media all and (max-width:  $break-s) {
    bottom: 100px;
  }
}
.board__indexTile {
  @include tile(33%, 250px, 15px);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  text-align: justify;
  border-top: 5px solid $green-medium;
  overflow: hidden;
  @media all and (max-width:  $break-m) {
    @include tile(49%, 250px, 15px);
  }
  @media all and (max-width:  $break-s) {
    @include tile(100%, 250px, 15px);
  }
}
.board__indexTitle {
  font-size: 1.5rem;
  padding-bottom: 15px;
  > a {
    text-decoration: none
  }
}
.board__indexTopicsRecent {
  padding-left: 10px;
}
.board__indexTopic {
  min-height: 50px;
}
.board__indexTopicTitle {
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  > a {}
}
.board__indexTopicUpdated {
  color: $grey-medium;
  font-size: 0.8rem;
  font-style: italic;
  > a {
    font-style: italic;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}


// classes used in the show board view
.board__topics {
  width: 95%;
  @include centerText(left);
  margin-top: 10px;
}
.board__topic,
.board__guidelines {
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.board__topic {
  &:nth-child(2n+1) {
    background-color: $green-light;
  }
}
.board__guidelines {
  background-color: $blue-medium;
  a:hover {
    color: $white;
  }
}
.board__topicsColHeaders {
  @include title;
  padding-left: 15px;
}
.board__topicTitle {
  width: 45%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  @media all and (max-width:  $break-m) {
    width: 55%;
  }
}
.board__topicCreated,
.board__topicUpdated {
  display: inline-block;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board__topicCreated a,
.board__topicUpdated a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid;
  }
}
.board__topicCreated {
  width: 20%;
  @media all and (max-width:  $break-m) {
    display: none;
  }
}
.board__topicUpdated {
  width: 30%;
  @media all and (max-width:  $break-m) {
    width: 40%;
  }
}


// classes used in the boards new/edit views (includes 'board' and 'board__header' from above)
.board__new {
}

// classes used in the boards form partial (includes 'board', 'board__header', and 'board__topicsList' from above)
.board__formErrors {
  @include formErrors;
}
.board__form {

}
.board__formTitle {

}
.board__formSubmit {

}
