.colony {
}
.colonyForm {
  width: 50%;
  margin: 2% 2%;
  padding: 3%;
  background: rgba(0, 0, 0, .1);

}
.colonyForm__label > label {
  display: block;
  font-size: 18px;
}

.colonyForm__submit {

}
