.col {
  // position: relative;
  padding: 10px 10px 80px;
  @include placeholder;
}
.colony__header {
  > h1 {
    padding: 5px 0 5px;
    @include title(2rem, $grey-dark);
  }
  > a {
    @include title(1rem, $grey-dark);
    display: inline-block;
    border-bottom: 1px solid;
    margin: 3px 10px;
    font-weight: 400;
  }
}
.colonies__li {
  width: 600px;
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
}
.map__li {
  width: 600px;
  display: inline-block;
  margin: 0 50px;
}
.colony__span {
}
.colonies__listUL {
  display: block;
  text-align: left;
  padding: 10px 0;
}
.colonies__listLI {
  display: block;
  width: 90%;
  padding: 5px;
  line-height: 2rem;
}
.colonies__listName {
  @include font(1.5rem);
  display: inline-block;
  font-weight: 200;
}
.colonies__listLocation {
  display: inline-block;
  font-style: italic;
  font-weight: 100;
  opacity: 0.85;
  padding: 0 5px;
}
.colonies__listPopulation {
  display: inline-block;
}
.colony__wrapper {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.colony__name{
  @include font(1.2rem);
  width: 100px;
}
.colony__photo {
  @include size(100px);
  border: 1px $grey-dark solid;
}
.colony__new, .colony__edit {
  padding: 15px;
  line-height: 1.6em;
  position: relative;
}
.colony__show {
  padding: 15px;
  > h1 {
    padding: 5px 0 15px;
    @include title(2rem, $grey-dark);
  }
}
.colony__showContainer {
  @include maxWidth;
}
.colony__formErrors {
  @include formErrors;
}
.colony__formContainer {
  width: 75%;
  position: relative;
  padding: 10px 20px;
  @include placeholder($grey-medium);
}
.colony__formLabel input {
  @include inputLine(1.3rem, 65%);
}
.colony__formLabel textarea {
  @include inputTextArea(1.3rem, 65%);
}
.colony__formLabel label {
  @include label(1.2rem, 25%);
}
.colony__formSubmit {
  padding-top: 20px;
}
.colony__formSubmit input {
  width: 110px;
  padding-top: 10px;
  @include button;
}
.colony {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  width: 45%;
  margin: auto;
  h2 {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
