.colony {
  position: relative;
  padding: 15px 10px 80px;
  @include placeholder;
}
.colony__header {
  > h1 {
    padding: 5px 0 15px;
    @include title(2rem, $grey-dark);
  }
  > a {
    @include title(1rem, $grey-dark);
    display: inline-block;
    border-bottom: 1px solid;
    margin: 3px 10px;
  }
}
.colonies__list {
  margin-top: 5%;
}
.colony__wrapper {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.colony__name{
  @include font(1.2rem);
  width: 100px;
}
.colony__photo {
  @include size(100px);
  border: 1px $grey-dark solid;
}
.colony__new {
  padding: 15px 10px 50px;
}
.colony__show {
  padding: 15px 10px 80px;
  > h1 {
    padding: 5px 0 15px;
    @include title(2rem, $grey-dark);
  }
}
.colony__showContainer {
  @include maxWidth;
}
.colony__edit {
  padding: 15px 10px 80px;
  line-height: 1.6em;
  position: relative;
}
.colony__formErrors {
  @include formErrors;
}
.colonyForm__label input {
  @include inputLine(1.3rem, 65%);
}
.colonyForm__label textarea {
  @include inputTextArea(1.3rem, 65%);
}
.colonyForm__label label {
  @include label(1.2rem, 25%);
}
.colonyForm__submit input {
  @include button;
}
