.footer__container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
  margin: 0 auto;
  background-color: $grey-light;
  color: $grey-medium;
}
.footer__ul {
  // @include listInline($d: inline-block);
  // width: 75%;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  vertical-align: top;
  > li {
    display: inline;
    padding: 0 10px;
    @media all and ( max-width: $break-s ) {
      font-size: 0.8em;
    }
  }
}
