.footer__container {
  position: absolute;
  bottom: 0;
  left: 0;
  @include size(100%, 45px);
  margin: 0 auto;
  color: $grey-medium;
}
.footer__ul {
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  vertical-align: top;
  @media all and ( max-width: $break-s ) {
    padding-left: 0;
  }
  > li {
    display: inline;
    padding: 0 10px;
    @media all and ( max-width: $break-s ) {
      font-size: 0.8em;
    }
  }
}
