//**********************
// login & signup forms

.login__container {
  padding: 50px 0 70px 0;
  @include placeholder($grey-medium);
  position: relative;
  height: 100%;
}
.login__form {
  @include tile(400px);
  @media all and (max-width: $break-s) {
    @include tile(300px);
  }
}
.join__form {
  @include tile(700px);
  @media all and (max-width: $break-s) {
    @include tile(300px);
  }
}
.login__header {
  position: relative;
  margin-bottom: 20px;
}
.login__title {
  margin: 5px auto;
  @include title(1.5rem);
  display: inline-block;
  @media all and (max-width: $break-s) {
    font-size: 1rem;
  }
}
.login__sharedLinks {
  @include formLinks;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  @media all and (max-width: $break-s) {
    font-size: .7rem;
    bottom: inherit;
    top: 5px;
  }
}
.login__alerts {
  background-color: $red-dark;
  color: $white;
  padding: 5px;
  border-radius: 3px;
  margin: 0 -5px;
}
.login__notices {
  background-color: $green-medium;
  color: $white;
  padding: 5px;
  border-radius: 3px;
  margin: 0 -5px;
}
.login__pwField,
.login__emailField {
  @include size(95%, 45px);
  padding: 20px 0;
  > input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
  }
}
.login__pwField input,
.login__emailField input {
  @include inputLine(1.3rem, 65%);
  @media all and (max-width: $break-s) {
    font-size: 1rem;
    margin: 5px 0;
    @include inputLine(1rem, 100%);
  }
}
.login__pwField label,
.login__emailField label {
  @include label(1.2rem, 30%);
  @media all and (max-width: $break-s) {
    font-size: 1rem;
    @include label(1.2rem, 30%);
  }
}
.join__pwField input,
.join__emailField input {
  @include inputLine(1.3rem, 65%);
  @media all and (max-width: $break-s) {
    font-size: 1rem;
    margin-bottom: 15px;
    @include inputLine(1rem, 100%);
  }
}
.join__pwField label,
.join__emailField label {
  @include label(1.2rem, 30%);
  @media all and (max-width: $break-s) {
    margin-top: 25px;
    font-size: 1rem;
    @include label(1.2rem, 100%);
  }
}
.login__spacer {
  @media all and (max-width: $break-s) {
      height: 20px;
  }
}
.login__pwField em {
  font-size: 0.8rem;
  text-align: center;
  margin-left: 32%;
}
.login__toggle {
  margin: 10px auto 0;
  font-size: 1rem;
  @media all and (max-width: $break-s) {
    margin: 40px auto 0;
  }
}
.login__submit {
  padding-top: 20px;
  @media all and (max-width: $break-s) {
    text-align: center;
  }
}
.login__submit input {
  @include button;
}
#error_explanation {
  @include formErrors;
}
