.container {
  @include backgroundColor;
  padding-bottom: 80px;
}
.index__blurb {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  h1 {
    text-align: center;
    @media all and (max-width: $break-s) {
      line-height: 2rem;
    }
  }
  p {
    margin: 10px 0;
    width: 100%;
  }
  ul {
    @include listInline(50%);
    @media all and (max-width: $break-s) {
      @include listInline(100%);
    }
  }
}
.index__button {
  padding-top: 20px;
}
.index__button a {
  @include button;
}
.index__divider {
  @include gradientLine;
}
.side__blurb {
  float: right;
  display: block;
  padding: 0 10px;
  img {
    @include size(auto, 250px);
    @media all and (max-width: $break-s) {
      @include size(250px, auto);

    }
  }
}
.side__blurb2 {
  float: left;
  display: block;
  padding: 0 10px;
  img {
    @include size(auto, 250px);
    @media all and (max-width: $break-s) {
      @include size(250px, auto);
    }
  }
}
