.container {
  @include backgroundColor;
  padding-bottom: 80px;
}
.index__blurb {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  .index__button {
    @include button;
  }
  h1 {
    text-align: center;
  }
  p {
    margin: 10px 0;
    width: 100%;
  }
  ul {
    @include listInline(50%);
  }
}
.index__divider {
  @include gradientLine;
}
.side__blurb {
  float: right;
  display: block;
  padding: 0 10px;
  img {
    @include size(auto, 250px);
  }
}
.side__blurb2 {
  float: left;
  display: block;
  padding: 0 10px;
  img {
    @include size(auto, 250px);
  }
}
