@mixin content-font {
  font-family: $content-font;
  font-size: 15px;
}
@mixin title($size: 1rem, $color: inherit, $weight: inherit) {
  font-family: $header-font;
  font-size:  $size;
  color: $color;
  font-weight: $weight;
}
@mixin center($textAlign: center) {
  margin: 0 auto;
  text-align: $textAlign;
}
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin circle {
  border-radius: 50%;
  overflow: hidden;
}
