@mixin content-font {
  font-family: $content-font;
  font-size: 15px;
}
@mixin title($size: 1rem, $color: inherit, $weight: inherit) {
  font-family: $header-font;
  font-size:  $size;
  color: $color;
  font-weight: $weight;
}
@mixin center($textAlign: center) {
  margin: 0 auto;
  text-align: $textAlign;
}
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin circle {
  border-radius: 50%;
  overflow: hidden;
}
@mixin buttons {
  outline: none;
  border: none;
  background-color: $gray-colors;
  color: $grey-light;
  opacity: 0.7;
  border-radius: 20px;
  padding: 0 10px;
  margin-top: 10px;
  @include title(1.3rem);
  &:hover {
    font-weight: 700;
    cursor: pointer;
  }
}
@mixin overlay($opacity) {
  background-color: rgba(255, 255, 255, $opacity);
}
