.nav {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: $grey-medium;
  border-bottom: 1px solid $grey-dark;
}
.nav_ul {
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0;
  > li {
    display: inline;
  }
  > li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    @media all and ( max-width: $break-l ) {
      font-size: 1em;
    }
    &:hover {
      color: $blue-medium;
    }
  }
}
