.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: auto;
  height: 40px;
  background-color: #83AF9B;
  border-bottom: 1px solid black;
}
.nav_ul {
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0;
  > li {
    display: inline;
  }
  > li a {
    text-decoration: none;
    color:inherit;
    font-size: 20px;
    &:hover {
      color: #5492F0;
    }
  }
}
