.nav {
  position: relative;
  @include size(100%, 50px);
  background-color: $grey-light;
  font-size: 0;
}
.nav__nonUser {
  height: 100%;
}
.nav__signout {
  display: inline-block;
  width: 50%;
  position: relative;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  margin: 2px 0;
  @media all and (max-width: $break-s) {
    padding: 0 10px;
  }
  @media all and (max-width: $break-xs) {
    top: 30%;
    transform: translateY(-30%);
  }
  > li {
    display: inline-block;
    height: 100%;
    margin: 0 2%;
  }
  > li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    @media all and (max-width: $break-m) {
      font-size: 1rem;
    }
    @media all and (max-width: $break-s) {
      font-size: 0.7rem;
    }
    &:hover {
      color: $blue-medium;
    }
  }
}
.nav__signoutRight {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
  text-align: right;
  padding-left: 0;
  padding-right: 40px;
  top: 50%;
  transform: translateY(-50%);
  margin: 2px 0;
  @media all and (max-width: $break-s) {
    padding-right: 10px;
  }
  @media all and (max-width: $break-xs) {
    top: 30%;
    transform: translateY(-30%);
  }
  > li {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2%;
  }
  > li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    @media all and (max-width: $break-m) {
      font-size: 1rem;
    }
    @media all and (max-width: $break-s) {
      font-size: 0.7rem;
    }
    &:hover {
      color: $blue-medium;
    }
  }
}
.nav__ulLeft {
  display: inline-block;
  width: 80%;
  position: relative;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  margin: 2px 0;
  padding-left: 10px;
  @media all and (max-width: $break-xs) {
    top: 30%;
    transform: translateY(-30%);
  }
  > li {
    display: inline-block;
    height: 100%;
    margin: 0 1%;
  }
  > li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    line-height: 1.7em;
    @media all and (max-width: $break-m) {
      font-size: 1rem;
    }
    @media all and (max-width: $break-s) {
      font-size: 0.8rem;
    }
    @media all and (max-width: $break-xs) {
      font-size: 0.5rem;
    }
    &:hover {
      color: $blue-medium;
    }
  }
}
.nav__ulRight {
  display: inline-block;
  position: relative;
  text-align: right;
  height: 100%;
  width: 20%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  > li {
    display: inline;
  }
  > li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    &:hover {
      color: $blue-medium;
    }
  }
}
.nav__profile {
  > img {
    height:35px;
    width:35px;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: 5px;
    @media all and (max-width: $break-xs) {
      height: 35px;
      width: 35px;
    }
  }
}
.nav__profileHover li ul {
  margin: 0;
  display: none;
}
.nav__profileHover li:hover > ul {
  margin: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 45px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: right;
  list-style: none;
  color: $grey-dark;
  padding: 5px 20px 0 15px;
  background-color: $grey-light;
  border: 1px $grey-light solid;
  border-top: 0;
  z-index: 9999;
  @media all and (max-width:  $break-s) {
    font-size: 1rem;
  }
  @media all and (max-width: $break-xs) {
    font-size: 0.4rem;
    padding: 5px;
    margin-right: 5px;
  }
}
