// container div on all org views for all content related to organizations
.org {
  padding: 10px 10px 80px;
}
// div on org index for header content
.org__header {
  > h1 {
    padding: 5px 0 15px;
    @include title(2rem, $grey-dark);
  }
  > a {
    @include title(1rem, $grey-dark);
    display: inline-block;
    border-bottom: 1px solid;
    margin: 3px 10px;
    font-weight: 400;
  }
}
// div on org index for list of all orgs
.org__list {

}
// ul on org index for list of all orgs
.org__listUL {
  display: block;
  text-align: left;
}
// li on org index for each org
.org__listLI {
  display: block;
  width: 85%;
  padding: 5px;
}
// divs on org index for each detail within single org li
.org__listName {
  @include font(1.5rem);
  display: inline-block;
  font-weight: 200;
}
.org__listLocation {
  display: inline-block;
  font-style: italic;
  font-weight: 100;
  opacity: 0.85;
  padding: 0 5px;
}
.org__listDescription {
  display: inline-block;
}
.org__formErrors {
  @include formErrors;
}
.new_organization {
  width: 75%;
  @include centerText;
  label {
    @include label(1.2rem, 25%);
  }
  input {
    @include inputLine(1.3rem, 65%);
  }
}
.orgForm__submit input {
  width: 100px;
  @include button;
}
.orgShow__container {
  @include maxWidth;
}
