// container div on all org views for all content related to organizations
.org {
  padding: 10px 10px 80px;
}
// div on org index for header content
.org__header {
  > h1 {
    padding: 5px 0 15px;
    @include title(2rem, $grey-dark);
  }
  > a {
    @include title(1rem, $grey-dark);
    display: inline-block;
    border-bottom: 1px solid;
    margin: 3px 10px;
    font-weight: 400;
  }
}
// div on org index for list of all orgs
.org__list {

}
// ul on org index for list of all orgs
.org__listUL {
  display: block;
  text-align: left;
}
// li on org index for each org
.org__listLI {
  display: block;
  width: 85%;
  padding: 5px;
}
// divs on org index for each detail within single org li
.org__listName {
  @include font(1.5rem);
  display: inline-block;
  font-weight: 200;
}
.org__listLocation {
  display: inline-block;
  font-style: italic;
  font-weight: 100;
  opacity: 0.85;
  padding: 0 5px;
}
.org__listDescription {
  display: inline-block;
}
.org__formErrors {
  @include formErrors;
}
.org__new, .org__edit {
  padding: 15px;
  line-height: 1.6em;
  position: relative;
}
.new_organization, .edit_organization {
  width: 75%;
  padding-left: 20px;
  label {
    @include label(1.2rem, 25%);
  }
  input {
    @include inputLine(1.3rem, 65%);
  }
}
.orgForm__submit {
    padding-top: 20px;
}
.orgForm__submit input {
  width: 110px;
  padding-top: 10px;
  @include button;
}
// Show Page CSS
.org__pageWrapper {
  padding: 30px 30px 50px 30px;
}
.org__profileWrapper{
  background-color: #FFF;
  border-radius: 5px;
  padding: 35px;
  input {
    @include inputLine(1.3rem);
  }
  textarea {
    @include inputTextArea(1.3rem);
  }
}
.org__sub {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 2%;
}
.org__main {
  display: inline-block;
  height: 100%;
  width: 69%;
  vertical-align: top;
  padding: 2%;
}
.org__name {
  font-size: 2em;
  padding: 0 18px;
  display: inline-block;
  > h3 {
    margin: 0;
    display: inline-block;
  }
}
.org__navLinks {
  display: inline-block;
  text-align: right;
  > a {
    @include title(1rem, $grey-dark);
    display: inline-block;
    border-bottom: 1px solid;
    margin: 3px 10px;
    font-weight: 400;
  }

}
.org__picture  {
  overflow: hidden;
  > img {
    @include size( 100%, auto);
    overflow: hidden;
  }
}
.org__pictureFile {
}
.org__joinLeave {
  display: block;
  text-align: center;
  margin-right: 0;
  padding: 5px;
}
.org__workHeader {
  margin-top: 0;
  padding: 2%;
  background: $blue-medium;
  color: white;
  > h4 {
    margin: 0;
  }
}
.org__workContent {
  padding: 4%;
  border-bottom: 1px solid #CFCFCF;
  border-right: 1px solid #dce0e0;
  border-left: 1px solid #dce0e0;
  background-color: white;
}
.org__workUL {
  padding: 0;
  margin: 0;
}
.org__workLI {
  margin: 0;
  display: block;
  padding: 5px;
}
.org__info {
  @include font(1.2rem);
  width: 100%;
}
.org__infoHeader {
  text-align: left;
  padding: 1%;
  color: white;
  background: $blue-medium;
  > h4 {
    font-size: .8em;
    margin: 0;
  }
}
.org__infoContent {
  padding: 3%;
  border-bottom: 1px solid #CFCFCF;
  border-right: 1px solid #dce0e0;
  border-left: 1px solid #dce0e0;
  background-color: white;
}
.org__infoRow{
  margin-bottom: 10px;
}
.org__infoLabel {
  font-weight: bold;
  font-size: 1.2em;
}
.org__infoSubmit {
  padding-top: 20px;
}
.org__infoSubmit a {
  @include button;
}
