.report {
  position: relative;
  padding: 10px 10px 80px;
  @include placeholder;
}
.report__formErrors {
  @include formErrors;
}
.reportForm__label input,
.reportForm__number input {
  @include inputLine(1.3rem, 65%);
}
.reportForm__label textarea {
  @include inputTextArea(1.3rem, 65%);
}
.reportForm__number label,
.reportForm__label label {
  @include label(1.2rem, 25%);
}
.reportForm__radio label {
  margin-right: 20px;
}
.reportForm__submit input {
  @include button;
}
