.userShow {
  margin: 0;
  padding: 5%;
}
.user_wrapper {
  width: 60%;
  font-size: 0;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 0 auto;
  input {
    @include inputLine(1.3rem);
  }
  textarea {
    @include inputTextArea(1.3rem);
  }
}
.user_name {
  @include font(1rem);
}
.user_picture > img {
  @include size(100px, auto);
}
.user_info {
  @include font(1.2rem);
}
.user_infoRow{
  margin: 20px 0;
}
.user_infoLabel {
  @include font(1.6rem);
  font-weight: 700;
  margin-bottom: 10px;
}
.user_infoSubmit button {
  @include button;
  width: 100px;
}
