.user__pageWrapper {
  padding: 30px 30px 50px 30px;
}
.user__profileWrapper{
  background-color: #FFF;
  border-radius: 5px;
  padding: 35px;
  input {
    outline: none;
    border: none;
    font-family: $primary-font;
    font-size: 1em;
    background: rgba($blue-medium, 0.15);
    width: 100%;
  }
  textarea {
    @include inputTextArea(1.3rem);
  }
  #avatar {
    background-color: inherit;
  }
}
.user__left {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 2%;
  @media all and (max-width: $break-s) {
    display: block;
    width: 100%;
  }
}
.user__right {
  display: inline-block;
  height: 100%;
  width: 75%;
  padding: 2%;
  @media all and (max-width: $break-s) {
    display: block;
    width: 100%;
  }
}
.user__name {
  font-size: 2em;
  padding: 0 18px;
  > h3 {
    margin: 0;
    display: inline-block;
  }
  @media all and (max-width: $break-s) {
    text-align: center;
  }
}
.user__picture  {
  overflow: hidden;
  > img {
    @include size( 100%, auto);
    overflow: hidden;
    @media all and (max-width: $break-s) {
      @include size(50%, auto);
      overflow: hidden;
      display: block;
      margin: 0 auto;
    }
  }
}
.user__pictureFile {
}
.user__work {
}
.user__membersince {
  text-align: center;
  padding: 0 2%;
}
.user__workHeader {
  margin-top: 5%;
  padding: 2%;
  background: $blue-medium;
  color: white;
  > h4 {
    margin: 0;
  }
}
.user__workContent {
  padding: 4%;
  border-bottom: 1px solid #CFCFCF;
  border-right: 1px solid #dce0e0;
  border-left: 1px solid #dce0e0;
  background-color: white;
  > ul {
    padding: 0;
    list-style: none;
    text-decoration: underline;
  }
}
.user__info {
  @include font(1.2rem);
  width: 100%;
}
.user__infoHeader {
  text-align: left;
  padding: 1%;
  color: white;
  background: $blue-medium;
  > h4 {
    font-size: .8em;
    margin: 0;
  }
}
.user__infoContent {
  padding: 3%;
  border-bottom: 1px solid #CFCFCF;
  border-right: 1px solid #dce0e0;
  border-left: 1px solid #dce0e0;
  background-color: white;
}
.user_infoRow{
  margin-bottom: 10px;
  @media all and (max-width: $break-xs) {
    font-size: 1rem;
  }
}
.user_infoLabel {
  font-weight: bold;
  font-size: 1.2em;
  @media all and (max-width: $break-xs) {
    font-size: 1rem;
  }
}
#about_me {
  width: 100%;
  height: 100px;
  border: solid 1px black;
}
.user_infoSubmit {
    padding-top: 20px;
}
.user_infoSubmit button {
  @include button;
  width: 100px;
}
