// text styles
$content-font: Quicksand, Helvetica Neue, Helvetica, Arial, sans-serif;
$header-font: 'Montserrat', sans-serif;

// colors
$gray-colors: #4D4D4D;
$background-theme: #83AF9B;
$warn-red: #8B0000;

// breaks for responsive behavior
$break-s: 600px;
$break-m: 900px;
$break-ml: 1000px;
$break-l: 1300px;
