.vol__formContainer {
  width: 75%;
  position: relative;
  padding: 10px 20px;
  @include placeholder($grey-medium);
}
.vol__formErrors {
  @include formErrors;
}
.volForm__label input {
  @include inputLine(1.3rem, 65%);
}
.volForm__label textarea {
  @include inputTextArea(1.3rem, 65%);
}
.volForm__label label {
  @include label(1.2rem, 25%);
}
.volForm__checkbox input {
  @include checkbox(1.3rem);
}
.volForm__checkbox label {
  @include label(1.2rem);
}
.volForm__center {
  // this is just a placeholder
}
.volForm__submit {
    padding-top: 20px;
}
.volForm__submit input {
  @include button;
}
