<div class="org">
    <div class="org__header">
      <h1>Kitty Committee Index</h1>
      <%= link_to 'Add Your Organization', new_organization_path %>
    </div>
    <div class="org__list">
      <ul class="org__listUL">
        <% @organizations.each do |org| %>
          <li class="org__listLI">
            <div class="org__listName">
              <%= link_to org.name, organization_path(org) %>
            </div>
            <div class="org__listLocation">
              <%= org.location %>
            </div>
            <div class="org__listDescription">
              <%= org.description %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
</div>
