<div class="org__new">
  <h1>Add Your Organization</h1>
  <p>
    Help us help the kitties! By adding your organization, you can start helping local cats and the volunteers committed to their care.
  </p>
  <%= render 'form' %>
</div>
