<footer class="footer__container">
  <%= image_tag "tiylogogray.png" %>
    <p>The Iron Yard | Copyright 2015</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
</footer>
