<footer class="footer__container">
  <div class="tiy">
    <%= image_tag "tiylogogray.png" %>
    <!-- <p>The Iron Yard | Copyright 2015</p> -->
  </div>
  <ul class="footer__ul">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Message Board', boards_path %></li>
    <li><%= link_to 'Report a Colony', report_path %></li>
  </ul>
</footer>
