<footer class="footer__container">

  <ul class="footer__ul">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Lost and Found', 'boards/3' %></li>
    <li><%= link_to 'Report a Colony', new_report_path %></li>
  </ul>
</footer>
