<div class="vol__formContainer">
  <h2>Volunteer Questionnaire</h2>
  <span>Thank you for your interest in volunteering with us.  Please complete the form below and someone will contact you ASAP.</span>

  <form>
    <div class="form__section1">
      <ul class="form__left">
        <li><input type="text" placeholder="First Name"></li>
        <li><input type="text" placeholder="Email"></li>
        <li><input type="text" placeholder="Phone Number"></li>
      </ul>
      <ul class="form__right">
        <li><input type="text" placeholder="Last Name"></li>
        <li><input type="number" placeholder="Age"></li>
      </ul>
      <div class="clearfix2"></div>
    </div>
    <div class="form__section2">
      <h3>Please select all areas you are interested in:</h3>
      <ul>
        <li><label for="adoption-events"><input id="adoption-events" type="checkbox">Adoption Events</label></li>
        <li><label for="transportation"><input id="transportation" type="checkbox">Transportation</label></li>
        <li><label for="fostering"><input id="fostering" type="checkbox">Fostering</label></li>
        <li><label for="assist-trapping"><input id="assist-trapping" type="checkbox">Assist With Trapping</label></li>
        <li><label for="colony-caregiver"><input id="colony-caregiver" type="checkbox">Colony Caregiver</label></li>
        <li><label for="sub-colony-caregiver"><input id="sub-colony-caregiver" type="checkbox">Substitute Colony Caregiver</label></li>
        <li><label for="other"><input id="other" type="checkbox">Other</label></li>
      </ul>
    </div>
    <div class="form__section3">
      <h3>Feel free to share any relevant experience and/or skills:</h3>
      <textarea placeholder="Let Us Know!" rows="7" cols="75"></textarea>
    </div>
    <div class="form__section4">
      <h3>When are you able to volunteer?</h3>
      <ul>
        <li><label for="weekends"><input id="weekends" type="checkbox">Weekends</label></li>
        <li><label for="weekdays"><input id="weekdays" type="checkbox">Weekdays</label></li>
        <li><label for="evenings"><input id="evenings" type="checkbox">Evenings</label></li>
        <li><label for="daytime"><input id="daytime" type="checkbox">Daytimes</label></li>
        <li><label for="flexible"><input id="flexible" type="checkbox">Flexible</label></li>
      </ul>
    </div>
    <input type="submit">
  </form>
  
</div>